body {
  font-family: sans-serif; }

main {
  max-width: 940px;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto; }

.button {
  display: inline-block;
  padding: 10px 20px;
  background: #3d3adb;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  font-size: 14px; }
  .button:hover {
    opacity: .75; }
