body {
  font-family: sans-serif;
  background: hsl(0, 0%, 94%);
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  margin: 0 0 0 0;
}

h1, h2, h3, h4, h5, p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: grey;
  &:hover {
    opacity: .5;
  }
}

.wrapper {
  max-width: 940px;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 50px;
}

header {
  background: rgb(61, 58, 219);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin: 0;
    font-size: 28px;
    color: white;
    font-weight: 800;
  }
  p {
    margin: 0;
    color: white;
    // font-weight: bold;
    font-size: 14px;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        opacity: .75;
      }
    }
  }
}

main {
  padding: 50px;
  box-sizing: border-box;
  background: white;
}

footer {
  p {
    font-size: 13px;
  }
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  background: white;
  color: rgb(61, 58, 219);
  box-shadow: 0 0 15px rgba(0,0,0,.2);
  &.dark {
    background: rgb(61, 58, 219);
    color: white;
    box-shadow: 0;
  }
  &:hover {
    opacity: .75;
  }
}

.row {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  .column {
    // width: 50%;
  }
}

.indicator {
  display: inline-block;
  margin-right: 10px;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: rgb(88, 195, 92);
  animation: pulse 1.5s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pulse {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
