@import url("https://fonts.googleapis.com/css?family=Archivo:400,500,600,700");
body {
  font-family: Archivo;
  background: #f0f0f0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 0 0 0; }
  body.disconnected header {
    background: #d94e4e; }
  body.disconnected h3.indicatorContainer .indicator {
    color: #d94e4e;
    animation: none; }

h1, h2, h3, h4, h5, p {
  margin-top: 0;
  color: #323232; }

.instructions {
  padding-bottom: 30px;
  font-size: 20px; }

a {
  text-decoration: none;
  color: grey; }
  a:hover {
    opacity: .5; }

.wrapper {
  max-width: 940px;
  width: 100vw;
  margin: 0 auto; }

header {
  background: #3d3adb;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header h1 {
    margin: 0;
    font-size: 28px;
    color: white;
    font-weight: 800; }
  header p {
    margin: 0;
    color: white;
    font-size: 14px; }
    header p a {
      text-decoration: none;
      color: white; }
      header p a:hover {
        opacity: .75; }

main {
  box-sizing: border-box;
  background: white;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 50px; }

.content {
  padding: 50px; }

footer {
  padding: 10px; }
  footer p {
    font-size: 13px; }

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  background: white;
  color: #3d3adb;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .button.dark {
    background: #3d3adb;
    color: white;
    box-shadow: 0; }
  .button:hover {
    opacity: .75; }

.row {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 50px; }
  .row .column.divider {
    background: #c3c3c3;
    width: 1px; }

h3.indicatorContainer {
  display: block;
  position: relative; }
  h3.indicatorContainer .indicator {
    display: inline-block;
    margin-right: 10px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #58c35c;
    animation: pulse 1.5s infinite;
    animation-timing-function: ease-in-out;
    left: -20px;
    top: 7px;
    position: absolute; }

@keyframes pulse {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
